body {
    background-color: #944304;
  }
  
  h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px #ED9E9F;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px #ED9E9F;
  }

  div {
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 60px;
    color: red;
  }

a:link {
    color:orange;
    font-family: verdana, cursive;
}
a:visited {
    color:orange;
    font-family: verdana, cursive;
}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
